name: CI Build(windows)


on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  check_run:
    types: [ rerequested, completed ]
  release:
    types: [ published ]



jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
    - name: check
      uses: actions/checkout@v4
    - name: install from requirements.txt
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
        

